.cart {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: max-content;
  box-sizing: border-box;
}

.cart__ProductInfo {
  padding-left: 15px;
}

.cart__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 2px solid lightgray;
}
.cart__ad {
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.cart__left {
  padding: 10px;
  margin: 0 20px;
  width: 70%;
}

.cart__right {
  margin-top: 20px;
  min-width: 310px;
  max-width: 400px;
  font-size: 20px;
}

@media (max-width: 560px) {
  .cart {
    flex-direction: column-reverse;
    align-items: center;
  }

  .cart__left {
    margin: 0;
    width: 95%;
  }
  .cart__right {
    margin: 0 auto;
    margin-top: 45px;
    width: 95%;
  }
  .cart__ad {
    display: none;
  }
}
