.orders{
    padding: 20px 80px;
    width: 65%;
    margin: auto;
}



.orders >  h1{
    margin: 30px;
    border-bottom: 2px solid lightgray;
}



@media (max-width: 780px) {
    .orders{
        width: 95%;
        padding: 20px 10px;
        margin-left: 0;
    }
}