.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.home__row {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -20%;
  }

  @media (max-width: 499px) {
    .home__image {
        width: 100%;
    
  }

  .home__row{
      flex-direction: column;
      margin-left: 8px;
      margin-right: 5px;
      width: 85%;
  }

}