.button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.button:first-of-type {
    margin-left: 0;
    padding-left: 10;
}

.button:disabled {
    color: rgb(202, 153, 153);
    cursor: not-allowed;
}

.success {
    color: #6daf12;
    border: 1px solid #6daf12;
}
.success:hover {
  color:white;
  background-color: #6daf12;
  border: 1px solid #6daf12;
  box-shadow: 1px 1px 1px  rgb(65, 66, 64);
}


.danger {
    color: #944317af;
}

.cartAdd {
    background-color:#FFD814;
    border-radius: 20px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: rgb(68, 63, 63);
    font-weight: 300;
    text-align: center;
    margin: 0px;
    border: 1px solid #eee;
    box-shadow: 0 3px 4px 2px rgb(204, 204, 204);
  }

  .cartRemove{
    background-color:#ff1414;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    
  }

  .cartRemove:hover{
    background-color: rgb(252, 119, 10);
    box-shadow: 1px 1px 1px 1px rgb(248, 133, 133);
  }

  .cartAdd:hover{
    background-color: #F7CA00;
    box-shadow: 1px 1px 1px 1px rgb(133, 170, 248);
  }