.order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.order h3{
    margin-top: 30px;
    margin-left: 10px;
}
@media (max-width: 700px) {
    .order{
        width: 100%;
        margin: 10px 0;
    }

}