.address {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 570px) {
    .address {
        width: 90%;
       
    }
}