.MuiPaper-root, MuiStepper-root, MuiPaper-elevation0
{
    padding-left: 0px;
    margin-left: 0;
}

.MuiStepper-root {
    padding-top: 40px !important;
}

.MuiStepConnector-line{
    margin: 13px 8px;
    border-bottom: 1px solid gray ;
}
.MuiStepIcon-text{
    font-size: 13px !important;
    font-weight: 800 !important;
}

.MuiStepLabel-active, .MuiStepLabel-completed{
    font-weight: 700 !important;
}

@media (max-width: 510px) {
    .MuiStepper-root {
        padding: 40px 3px !important;
    }

    .MuiStepLabel-labelContainer{
        margin-left: -6px;
        margin-right: 2px;
    }
    .MuiStepConnector-line{
        display: none !important;

        border-bottom: 0px ;
    }

    
}